---
layout: default
title: Nos formations
permalink: /formations
comments: false
---
{% include page-title.html %}


{% assign categories_formations = '' | split: '' %}
{% assign formation_ordered = site.formations | sort : "order"  %}

{% for formation in formation_ordered %}
{% assign categories_formations = categories_formations | concat: formation.categories | uniq   %}
{% endfor %}


<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">
					<div class="grid-filter-wrap">
						<!-- Portfolio Filter
						============================================= -->
						<ul class="grid-filter" data-container="#portfolio">
							<li class="activeFilter"><a href="#" data-filter="*">Voir tous</a></li>
							{% for category in categories_formations %}
							<li><a href="#" data-filter=".pf-{{ category | slugify }}">{{ category }}</a></li>
							{% endfor %}
						</ul><!-- .grid-filter end -->
						<div class="grid-shuffle rounded" data-container="#portfolio">
							<i class="icon-random"></i>
						</div>
					</div>
					<div id="portfolio" class="portfolio row grid-container gutter-30" data-layout="fitRows">
						{% for formation in formation_ordered %}
						{% include formationbox.html %}
						{% endfor %}
					</div>
				</div>
			</div>
</section>






