---
layout: default
---

{% include slider.html%}

<section id="content">
<div class="content-wrap">
  <div class="container clearfix">
      <div class="mx-auto center clearfix" style="max-width: 900px;">
            <h1>Nos formations</h1>
           
      </div>

      
      {% include nos-formations.html %}
      <div class="line"></div>
      <div class="mx-auto center clearfix" style="max-width: 900px;">
        
        <a href="/formations" class="button button-3d button-dark button-large ">
          voir tous les formations
        </a>
  </div>
  </div>          
</div>

</section>
