---
layout: default
---
{% include slider.html%}
<section id="content">
<div class="content-wrap">
  <div class="container clearfix">
      <div class="mx-auto center clearfix" style="max-width: 900px;">
            <h1>Développeur Web</h1>
      </div>
      {% include parcour-formations.html parcour_reference="développeur-web" %}
      <div class="line"></div>

      <div class="mx-auto center clearfix" style="max-width: 900px;">
            <h1>Apprendre à programmer</h1>
      </div>
      {% include parcour-formations.html parcour_reference="programmation" %}
      <div class="line"></div>

      <div class="mx-auto center clearfix" style="max-width: 900px;">
            <h1>Outils</h1>
      </div>
      {% include parcour-formations.html parcour_reference="outils" %}
      <div class="line"></div>



      <div class="mx-auto center clearfix" style="max-width: 900px;">
        <a href="/formations" class="button button-3d button-dark button-large ">
          voir tous les formations
        </a>
  </div>
  </div>
</div>
</section>
