<div id="top-bar">
    <div class="container clearfix">
        <div class="row justify-content-between">
            <div class="col-12 col-md-auto">

                <!-- Top Links
                ============================================= -->
                <div class="top-links">
                    <ul class="top-links-container">
                        <li class="top-links-item"><a href="/">Accueil</i></a>
                        </li>
                        <li class="top-links-item"><a href="/contact">Contact</a></li>
                    </ul>
                </div><!-- .top-links end -->

            </div>

            <div class="col-12 col-md-auto">

                <!-- Top Social
                ============================================= -->
                <ul id="top-social">
                    <li><a href="https://www.facebook.com/codeur.academy" target="_blank" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                    <li><a href="https://github.com/codeur-academy" target="_blank" class="si-github"><span class="ts-icon"><i class="icon-github-circled"></i></span><span class="ts-text">Github</span></a></li>
                    <li><a href="https://www.linkedin.com/in/essarraj-fouad" target="_blank" class="si-linkedin"><span class="ts-icon"><i class="icon-linkedin"></i></span><span class="ts-text">Linkedin</span></a></li>

                    <li><a href="mailto:codeur.academy@gmail.com" target="_blank" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">codeur.academy@gmail.com</span></a></li>
                    
<!-- 
                    <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                   
                    <li class="d-none d-sm-flex"><a href="#" class="si-pinterest"><span class="ts-icon"><i class="icon-pinterest"></i></span><span class="ts-text">Pinterest</span></a></li>
                   
                    <li><a href="#" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
                     -->
               
                </ul><!-- #top-social end -->

            </div>

        </div>

    </div>
</div>

<header id="header" class="full-header  transparent-header" data-sticky-class="not-dark"
 data-menu-padding="15" data-sticky-menu-padding="19">
    <div id="header-wrap" class="">
        <div class="container">
            <div class="header-row top-search-parent">

                <div id="logo">
                    <a href="/" class="standard-logo" data-dark-logo="/Content/CodeurAcademy/images/logo-codeur-academy.png"><img src="/Content/CodeurAcademy/images/logo-codeur-academy.png" alt="Codeur Academy"></a>
                    <a href="/" class="retina-logo" data-dark-logo="/Content/CodeurAcademy/images/logo-codeur-academy.png"><img src="/Content/CodeurAcademy/images/logo-codeur-academy.png" alt="Codeur Academy"></a>
                </div>

                <div class="header-misc">

     
                </div>

                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>
                {% include navigation.html %}
            </div>
        </div>
    </div>
    <div class="header-wrap-clone" style="height: 101px;"></div>
</header>

<!-- 
<header id="header" class="full-header transparent-header" data-sticky-class="not-dark">
    <div id="header-wrap">
        <div class="container">
            <div class="header-row">
                <div id="logo">
                    <a href="/" class="standard-logo" data-dark-logo="/Content/CodeurAcademy/images/logo-codeur-academy.png"><img src="/Content/CodeurAcademy/images/logo-codeur-academy.png" alt="Codeur Academy"></a>
                    <a href="/" class="retina-logo" data-dark-logo="/Content/CodeurAcademy/images/logo-codeur-academy.png"><img src="/Content/CodeurAcademy/images/logo-codeur-academy.png" alt="Codeur Academy"></a>
                </div>
                <div id="primary-menu-trigger">
                    <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                </div>

                {% include navigation.html %}

           
            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header> -->
