<div id="section-about" class="container clearfix page-section" data-onepage-settings="{" offset":65,"speed":"2250","easing":"easeoutquad"}"="" offset":65,"speed":"1250","easing":"easeinoutexpo"}"="">

    <div class="row justify-content-center col-mb-50">
    
                <div class="col-sm-6 col-lg-4">
                  <div class="feature-box fbox-sm fbox-plain fadeIn animated" data-animate="fadeIn">
                    <div class="fbox-icon">
                      <a href="#"><i class="icon-lab2"></i></a>
                    </div>
                    <div class="fbox-content">
                      <h3>Méthode&nbsp;90&nbsp;%&nbsp;pratique</h3>
                      <p>
    Basée sur des projets réels, vous ressortez avec un portfolio solide de projets qui sera votre preuve de compétence devant les recruteurs.
    </p>
                    </div>
                  </div>
                </div>
    
    
                <div class="col-sm-6 col-lg-4">
                  <div class="feature-box fbox-sm fbox-plain fadeIn animated" data-animate="fadeIn">
                    <div class="fbox-icon">
                      <a href="#"><i class="icon-lab2"></i></a>
                    </div>
                    <div class="fbox-content">
                      <h3> Formation simple et intuitive </h3>
                      <p>
    Nous commencerons par un démarrage rapide qui vous permettra de saisir la notion générale et de réaliser votre premier exemple. Ensuite, nous vous proposerons de commencer l'apprentissage avec des pas solide.
    </p>
                    </div>
                  </div>
                </div>
    
    
    <div class="col-sm-6 col-lg-4">
                  <div class="feature-box fbox-sm fbox-plain fadeIn animated" data-animate="fadeIn">
                    <div class="fbox-icon">
                      <a href="#"><i class="icon-bolt1"></i></a>
                    </div>
                    <div class="fbox-content">
                      <h3> Approche par compétence </h3>
                      <p>
    Nous commençons par développer vos savoir et savoir-faire, puis nous vous proposerons de participer à nos live pratique pour développer vos savoir-être. Ensuite, nous vous proposerons une série de mini-projets qui vous mettront dans des situations de travail réels pour booster et développer la compétence que vous vouliez apprendre.
    
    </p>
                    </div>
                  </div>
                </div>
    
    
    
    
    
    
    
                <div class="col-sm-6 col-lg-4">
                  <div class="feature-box fbox-sm fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="400">
                    <div class="fbox-icon">
                      <a href="#"><i class="icon-line-briefcase"></i></a>
                    </div>
                    <div class="fbox-content">
                      <h3>Devenir prêt pour l'emploi</h3>
                      <p>
    Les programmes sont issues des besoins du marché et validés par les recruteurs (formation technique + Soft Skills) ce qui vous facilite l’insertion dans marché du travail.</p>
                    </div>
                  </div>
                </div>
    
    
                <div class="col-sm-6 col-lg-4">
                  <div class="feature-box fbox-sm fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="1000">
                    <div class="fbox-icon">
                      <a href="#"><i class="icon-line-wifi"></i></a>
                    </div>
                    <div class="fbox-content">
                      <h3>Formation en ligne</h3>
                      <p>
    La formation et disponible 100 % en ligne avec une méthode innovante basé sur l'idée de Bootcamp et la pédagogie active.
    Les cours en ligne s'adaptent au rythme d'apprentissage de chacun et suivent le même programme de codeur academy
    </p>
                    </div>
                  </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                  <div class="feature-box fbox-sm fbox-plain fadeIn animated" data-animate="fadeIn" data-delay="1200">
                    <div class="fbox-icon">
                      <a href="#"><i class="icon-user2"></i></a>
                    </div>
                    <div class="fbox-content">
                      <h3>Coaching personnalisé</h3>
                      <p>
    
    
    Vous Bénéficiez d’un coaching personnalisé pour vous accompagner lors de votre apprentissage et vous préparer au marché d’emploi.
    
    </p>
                    </div>
                  </div>
                </div>
    
                
    
                
              </div>
    
    
    
</div>
