<section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header">
    <div class="slider-inner">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">

                {% assign slides = site.slides | sort: "ordre" %}
                {% for slide in slides %}
                <div class="swiper-slide">
                    <div class="container">
                        <div class="slider-caption">
                            <h2 data-animate="fadeInUp" style="color: #00a3ad">{{slide.titre}}</h2>
                            {% if slide.sous_titre != '' %}
                            <h3 data-animate="fadeInUp" data-delay="150" style="color: #00a3ad">{{slide.sous_titre}}</h3>
                            {% endif %}
                            <p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">
                                {{slide.paragraphe}}
                            </p>
                            <p data-animate="fadeInUp" data-delay="200">
                                <a href="{{slide.action_link}}" class="button  button-3d">{{slide.action_name}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide-bg" style="background-image: url('/Content/CodeurAcademy/images/slider/slide-frontend.jpg'); background-position: center top; "></div>
                </div>
                {% endfor %}

            </div>
            <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
        </div>
        <a href="#" data-scrollto="#content" data-offset="100" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>
    </div>
</section>