/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


#logo img {
	height: 60px !important;
}

#header-wrap #logo img {
	height: 60px;
}

#page-title {
	padding: 1.5rem 0 !important;
}
#page-title h1{
	text-transform: none !important;
}

/* Slider Caption -*/
.slider-caption h2 {
    font-size: 3rem !important;
	text-transform: none !important;
}