---
layout: default
---

<section id="page-title">
	<div class="container clearfix">
		<h1>{{page.title}}</h1>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Accueil</a></li>
					<li class="breadcrumb-item"><a href="/blog">Blog</a></li>
		        </ol>
	</div>
</section>
<section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="row gutter-40 col-mb-80">
                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent col-lg-9">
                        <div class="single-post mb-0">
                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">
                                <div class="entry-title">
                                    <h2>{{ page.title }}</h2>
                                </div>
                                <div class="entry-meta">
                                    <ul>
                                        <li><i class="icon-calendar3"></i> {{page.date | date: "%-d %B %Y" }}</li>
                                        <li><i class="icon-folder-open"></i> <a href="#">
                                          
                                            {% for category in page.categories %}
                                            <a href="/categories/#{{category}}">{{category}}</a>
                                             {% if forloop.last == false %} , {% endif %} 
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>

                                <!-- Entry Image -->
                                <div class="entry-image">
                                    <a href="#">
                                        <img  src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}"> 
                                    </a>
                                </div><!-- .entry-image end -->

                                <!-- Entry Content  -->
                                <div class="entry-content mt-0">
                                    {{content}}
                                    <!-- Post Single - Content End -->
                                    <!-- Tag Cloud -->
                                    {% if page.tags %}
                                    <div class="tagcloud clearfix bottommargin">
                                        {% assign tags = page.tags | sort %}
                                        {% for tag in tags %}

                                        <a href="/tags#{{ tag | slugify }}">
                                            {{ tag | slugify }}
                                        </a>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                   <!-- .tagcloud end -->

                                    <div class="clear"></div>

                                    {% include share.html %}

                                </div>
                            </div><!-- .entry end -->

                            <!-- Post Navigation
                            ============================================= -->
                           

                            <div class="row justify-content-between col-mb-30 post-navigation">
                                {% if page.previous.url %}
                                <div class="col-12 col-md-auto text-center">
                                    <a href="{{page.previous.url}}">&lArr; {{page.previous.title}}</a>
                                </div>
                                {% endif %}
                                {% if page.next.url %}
                                <div class="col-12 col-md-auto text-center">
                                    <a href="{{page.next.url}}">{{page.next.title}} &rArr;</a>
                                </div>
                                {% endif %}
                            </div><!-- .post-navigation end -->

                            <div class="line"></div>

                            <!-- Post Author Info
                            ============================================= -->
                            <div class="card">
                                <div class="card-header"><strong>Écrit par <a href="#">ESSARRAJ Fouad</a></strong></div>
                                <div class="card-body">
                                    <div class="author-image">
                                        <img src="https://www.gravatar.com/avatar/e1cd7eaea3fcf6c1e320fd9378713d4f" alt="Image" class="rounded-circle">
                                    </div>
<p>
    Formateur et ingénieur informatique spécialisé en création des systèmes d’information.
    <br>
    J’ai constaté depuis le début de ma carrière, en 2009, qu’il y a un manque énorme des compétences en termes de développement des systèmes d’information. C’est pour ça j’ai orienté mon objectif professionnel dans ce sens. Je réalise deux missions totalement différentes mais complémentaires : la formation et le développement d’application.

</p>



                                </div>
                            </div><!-- Post Single - Author End -->

                            <div class="line"></div>


                            {% include related-posts.html %}
 
                        </div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar col-lg-3">
                        <div class="sidebar-widgets-wrap">
                            <div class="widget clearfix">
                            </div>

                            {% if page.tags %}
                            <div class="widget clearfix">
                                <h4>Tags</h4>
                                <div class="tagcloud">
                                    {% assign tags = page.tags | sort %}
                                    {% for tag in tags %}
                                    <a href="/tags#{{ tag | slugify }}">
                                        {{ tag | slugify }}
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div><!-- .sidebar end -->
                </div>

            </div>
        </div>
</section>








 







